[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "maddison"]
	path = maddison
	url = https://github.com/expersso/maddison
	shallow = true
	registered = true
[submodule "OECD"]
	path = OECD
	url = https://github.com/expersso/oecd
	shallow = true
	registered = true
[submodule "pdftables"]
	path = pdftables
	url = https://github.com/expersso/pdftables
	shallow = true
	registered = true
